@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}
.container{
    max-width: 1440px;
    padding: 50px 180px;
}
.primary-btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.1);
   
}
header .nav{
    display: flex;
    justify-content: space-between;
}
header .nav .logo{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
header .nav ul{
   display: flex;
}
header .nav ul li{
    margin-left: 30px;
}
header .nav ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    transition: 1s linear;
}
header .nav ul li a:hover{
    color: #000000;
}
header .nav ul li a:hover{
    color: #000000;
}

.header-banner{
   margin-top: 100px;
}
.header-banner .banner-info{
    width: 862px;
    margin: 0 auto;
    text-align: center;
}
.header-banner .banner-info .banner-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-bottom: 25px;
}
.header-banner .banner-info .banner-description{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
.header-banner .banner-img{
   margin-top: 50px;
   margin-bottom: 45px;
}
.header-banner .banner-img img{
    width: 100%;
 }

 /* our-features seaction style */
.our-features{
    display: flex;
    align-items: center;
}
.our-features .features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 100%;
    cursor: pointer;
}

.our-features .features-img img{
    width: 100%;
}

.our-features .features-info{
    margin-left: 76px;
}
.our-features .features-info .features-info-taitle{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    margin-bottom: 24px;
}
.our-features .features-info .features-info-span1{
    font-weight: 700;
    color: #131313;
}
.our-features .features-info .features-info-span2{
    font-weight: 700;
    color: #FF900E;
}
.our-features .features-info .features-info-description{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}


/* our-experience section style */
.our-experiences{
    display: flex;
    gap: 54px;
}
.our-experience{
    margin-top: 20px;
}
.our-experience .experience-heading{
    border-left: 5px solid #FF900E;
}
.our-experience .experience-heading .experience-heading-title{
    margin-left: 21px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
    
}
.our-experience .experience-heading-discription{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
    
}
.our-experience .experience-info{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);  
    padding: 30px;
    margin-bottom: 20px;
}
.our-experience .experience-info .experience-info-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}
.our-experience .experience-info .experience-info-discription{
    font-size: 16px;
    line-height: 22px;
    color: #727272;
}

.our-experience-img{
    position: relative;
}
.our-experience-img .work-experience{
    position: absolute;
    bottom: 0px;
    width: 258px;
    background: #FF900E;
    padding: 42px 45px;
}
.our-experience-img .work-experience .year{
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #FFFFFF;
}
.our-experience-img .work-experience .experience{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}

/* some-facts seaction syle */
.some-facts{
    width: 542px;
}
.some-facts-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.some-facts-description{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* working-project section style */
.working-projects{
    display: flex;
    gap: 125px;
    align-items: center;
    justify-content: center;
}
.working-project{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px 45px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.working-project:hover{
    transform: scale(1.1);
}
.working-project .count{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}
.working-project .project-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
   
}

/* Sponspors section style */
.Sponspors-detils{
    width: 542px;
    text-align: center;
    margin: 0 auto;
}
.Sponspors-detils .Sponspors-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.Sponspors-detils .Sponspors-descroption{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}
.Sponspors-brand{
    display: flex;
    gap: 100px;
}

/* our team member section style */
.our-team-member-title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.our-team-members {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
}
.our-team-members .our-team-member{
       text-align: center;
}
.our-team-members .our-team-member img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #aba6a6;
}
.our-team-members .our-team-member .our-team-member-name{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}

/* footer style */
footer{
    background: #FFF4E7;
    border-radius: 8px;
}
footer .copyright{
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}


































/* responsive css */
@media (max-width: 576px) {

    .container {
        padding: 10px 15px;
    }
    .primary-btn {
        padding: 10px 15px;
    }
    header .nav .logo {
        font-size: 30px;
        line-height: 53px;
    }
    header .nav {
         display: block; 
    }
    header .nav ul {
        display: block;
    }
    header .nav ul li {
        margin-left: 0px; 
    }
    .header-banner {
        margin-top: 50px;
    }
    .header-banner .banner-info{
        width: 100%;
        margin: 0;
        text-align: none;
    }
    .header-banner .banner-info .banner-title {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .header-banner .banner-info .banner-description {
        margin-bottom: 25px;
    }
    .header-banner .banner-img {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .our-features {
        display: block;
        margin-top: 50px;
    }
    .our-features .features-img {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .our-features .features-info {
         margin-left: 0px;
         margin-top: 25px;
    }

    .our-experience-img img{
        width: 100%;
    }   
    .our-experiences {
        display: block;
        margin-top: 50px;
    }
    .our-experience .experience-heading .experience-heading-title {
        line-height: 50px;
        margin-bottom: 24px;
    }
    .our-experience-img .work-experience {
        bottom: -55px;
        width: 50%;
        padding: 25px 35px;
    }
    .our-experience-img .work-experience .year {
        font-size: 35px;
        line-height: 60px;
    }
    .our-experience-img .work-experience .experience {
        font-size: 20px;
        line-height: 38px;
    }

    .some-facts{
        margin-top: 70px;
        width: 100%;
    }

    .working-projects {
        display: block;
        margin: 25px 0; 
    }
    .working-project{
        margin: 25px 0; 
    }
    .working-project:hover{
        transform: none;
    }

    .Sponspors-detils {
         width: 100%;
    }
    .Sponspors-detils .Sponspors-title {
        font-size: 40px;
        line-height: 50px;
    }
    .Sponspors-brand{
        display: block;
        
    }
    .Sponspors-brand img{
        padding: 25px;
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .our-team-members .our-team-member {
        margin-bottom: 20px;
    }
    .our-team-members {
        display: block; 
        
    }
    .our-team-members .our-team-member img {
        width: 80%;
    }
    
    
   
}